<button
  @click="addTeam"
  data-add-team-name="<%= race.teams.length + 1 %>"
  data-pit-lane-name="<%= pit_lane %>"
  data-race-id="<%= race.id %>"
  class="flex w-16 h-16 hover:shadow-lg hover:border-gray-300 hover:text-gray-300 pb-2 border-gray-700 border-4 rounded-full m-2 flex items-center justify-center text-5xl  font-semibold text-gray-700 cursor-pointer transition-shadow hover:shadow-lg"
>
  +
</button>
